
@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

body {
  color: #484848;
  font-family: 'Lato', sans-serif;
  padding: 150px;
  line-height: 1.5;
  background-color:rgb(255, 210, 88);


}
h1{
  text-align: center;
}
ul {
  padding-left: 0;
}
li {
  padding: .45em .5em;
  margin-bottom: .35em;
  display: flex;

}
input,
button {
  font-size: .85em;
  padding: .65em 1em;
  border-radius: .3em;

}
input {
  border: 1px solid #dcdcdc;
  margin-right: 1em;
}
div {
  
  height: 60%;
  width: 80%;
  background: #a8e6f1;
  margin-top: 0.8em;
  padding: 5.5em 5.5em;
  border-style: inset;
  border-radius: 10%;
}

li{
  background: white;
  border-radius: 10px;
  border-style:ridge;
}

button {
  margin-left: auto;
  color: white;
  background: #508abc;
  border: solid 1px;
  border-color: rgba(0, 0, 0, .1);
  cursor: pointer;
}


li button {
  padding: .5em .65em;
  background: #768fa3;
}